@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

$body-color: #333;
$body-bg: #FFFCF2;
$border-radius: .5rem;

$font-type: 'Roboto', sans-serif;
$text-letter: 0.5px;
$line-height: 24px;

$amber: #78350F;
$blue-light-gray: #475569;
$blue-gray: #0F172A;
$white-gray: #E2E8F0;
$succes: #15803D;

$small: 768px;

// Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
@import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

//
// Custom styles
//

@import "icon-list";

body {
  background-color: $body-bg;
  font-family: $font-type!important;
}

.blue-light-gray {
  color: $blue-light-gray;
}

.bg-blue-gray {
  background-color: $blue-gray;
}

.blue-gray {
  color: $blue-gray;
}

.success {
  color: $success;
}

.amber {
  color: $amber;
}

.brand-name {
  color: $amber;
  font-family: $font-type;
  font-weight: 700;
}

.nav-link { 
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.amber-text {
  color: $amber;
  letter-spacing: $text-letter;
  font-weight: 500;
  line-height: $line-height;
  padding: .75rem .5rem;
}

.text-white-gray {
  color: $white-gray;
}

.main-title {
  font-size: 4.5rem;
  line-height: 79.2px;
  color: $blue-gray;
}

.chart-title {
  font-size: 6rem;
  line-height: 105.6px;
  color: #fff;
  font-weight: 800;
  
  @media screen and (max-width: $small) {
    font-size: 3rem;
    line-height: 28px;
  }
}

.section-title {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 61.6px;

  @media screen and (max-width: $small) {
    font-size: 2rem;
  }
}

.main-paragraph {
  font-size: 1.125rem;
  line-height: 28.8px;
}

.section-card {
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px #00000012, 0px 20px 25px -5px #0000001A;
}

.video-card {
  background-color: #fff;
  border: 0;
  box-shadow: 0px 0px 15px 0px #00000012, 0px 25px 50px -12px #00000040;
  border-radius: 18px;
  padding: 1rem 0.5rem 0.5rem;
}

.carousel-btn {
  height: 3rem;
  width: 3rem;
  border: 2px solid #78350F;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.carousel-card {
  border: 1px solid #E2E8F0;
  border-radius: 20px;
  box-shadow: 0px 0px 6px 0px #00000012, 0px 10px 15px -3px #0000001A;
}

.amber-outline-btn {
  border-color: $amber;
  color: $amber;
  border-radius: $border-radius;
  letter-spacing: $text-letter;
  font-weight: 500;
  border-width: 2px;
  padding: 12px 28px;
  line-height: $line-height;

  @media screen and (max-width: $small) {
    padding: 1rem;
  }

  &:hover {
    color: #fff;
    background-color: $amber;
    border-color: $amber;
  }
}

.white-outline-btn {
  border-color: #fff;
  color: #fff;
  border-radius: $border-radius;
  letter-spacing: $text-letter;
  font-weight: 500;
  border-width: 2px;
  padding: 12px 28px;
  line-height: $line-height;
  background-image: none;

  &:hover {
    color: $blue-gray;
    background-color: #fff;
    border-color: #fff;
  }
}

.footer-line {
  background-color: #334155;
  height: 2px;
}

.yellow-card {
  background-color: #FBBF24;
  border-radius: 50px;
  gap: 10px;
  max-width: 367px;
  max-height: 372px;

  .card-image {
    min-width: 486px;
    min-height: 388px;
    margin-top: -67px;
    margin-left: -64px;

    @media screen and (max-width: $small) {
      min-width: 361px;
      min-height: 295px;
      margin-top: -67px;
      margin-left: -10px;
    }
  }
}

.cart-card-shadow {
  box-shadow: 0px 0px 15px 0px #FFFFFF12, 0px 25px 50px -12px #FFFFFF40;
}

.tooltip-box {
  background-color: #E2E8F0;
  font-size: 14px;
  border-radius: 5px;
  margin: 2rem;
  box-shadow: 0px 0px 15px 0px #00000012, 0px 25px 50px -12px #00000040;
}

.tooltip-image {
  margin-bottom: -5.5rem;
  z-index: 3;
}

.tooltip-triangle {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    bottom: 1.5em;
    left: 50%;
    box-sizing: border-box;
    
    border: 5px solid black;
    border-color: transparent transparent #E2E8F0
    #E2E8F0;
    transform-origin: 0 0;
    transform: rotate(-45deg);
  }
}

.category-list {
  .category-item {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.75rem 1rem;
    border-radius: 8px;

    .arrow-icon {
      display: none;
    }
    
    &:hover {
      // box-shadow: 0px 5px 12px 2px #0000001A;
      box-shadow: 0px 0px 4px 0px #00000012, 0px 4px 6px -1px #0000001A;
      

      .arrow-icon {
        display: block;
      }
    }
  }
}